<aside class="table-of-contents--bottom">

  <h3 class="sans">More from this project</h2>

  {# <article class="refer refer--full">
    <a class="story-link" href="//projects.bettergov.org/2019/ohare-timeline/">
      <div class="story-meta">
        <div class="flag">Timeline</div>
        <h3 class="headline">O'Hare's history of connections and corruption</h3>
      </div>
      <figure>
        <img typeof="foaf:Image" src="images/timeline-social-card-400.jpg">
      </figure>
    </a>
  </article> #}

  <article class="refer refer--full">
    <a class="story-link" href="//projects.bettergov.org/2019/ohare-investigation/">
      <div class="story-meta">
        <div class="flag">Investigation</div>
        <h3 class="headline">O'Hare's billions in broken promises</h3>
      </div>
      <figure>
        <img typeof="foaf:Image" src="images/natural_yellow.jpg" style="object-position: 50% 50%; object-fit: cover;">
      </figure>
    </a>
  </article>

  <article class="refer refer--full">
    <a class="story-link" href="//projects.bettergov.org/2019/ohare-promises/">
      <div class="story-meta">
        <div class="flag">Breakdown</div>
        <h3 class="headline">Broken promises, billions spent</h3>
      </div>
      <figure>
        <img typeof="foaf:Image" src="images/O'Hare- Projects.jpg" style="background: #121212;">
      </figure>
    </a>
  </article>
</aside>