<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta charset="utf-8">
  <title>{{META.page_name}}</title>
  <link rel='icon' type='image/png' href='favicon.png'>

  {% include "meta/_social.njk" %}

  {% if ENV == 'production' %}
  <link rel='stylesheet' href='bundle.{{__webpack__.hash}}.css'>
  {% endif %}

  <link rel="stylesheet" type="text/css" href="https://media.bettergov.org/bga-fontello-icons/css/bga-icons.css">
  <style>[class^="icon-"]:before, [class*=" icon-"]:before { display: inherit; }</style>

  <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-MBXF9FV');</script>
  <!-- End Google Tag Manager -->
</head>

<body>
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MBXF9FV"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->

  {% include "partials/_nav.njk" %}

  <article class="main">
    {% include "partials/_header.njk" %}

    <section class="story">
      <p>{{ ARCHIE.top.leadin }}</p>

      <div id="svelte-app"></div>

      <hr>
      <p class="sources sans">Sources: {{ ARCHIE.sources }}</p>
      <hr>

      <div class="story-after art large align-center">
        <div class="col-left">
          <aside class="art medium">
            <script async src="https://modules.wearehearken.com/bga/embed/3549.js"></script>
          </aside>
        </div>

        <div class="col-right">
          <aside class="card refer" style="margin-left: 0;">
            <h3 class="card__subtitle">Follow our work</h3>
            <p class="card__text"> Get BGA news, investigations, analysis and more, straight to your inbox once a week. </p>
            <div class="link link--large">
              <a href="https://www.bettergov.org/sign-up-for-e-alerts">
                <span class="link__text">Sign up for e-alerts</span>
              </a>
            </div>
          </aside>

          <aside class="card refer" style="margin-left: 0;">
            <h3 class="card__subtitle">Support our newsroom</h3>
            <p class="card__text"> Investigations like this take months to produce and aren’t cheap. Will you help us keep going by making a $25 donation? </p>
            <div class="link link--large">
              <a href="https://bettergov.salsalabs.org/donationform/index.html?amount=25">
                <span class="link__text">Donate to the BGA</span>
              </a>
            </div>
          </aside>
        </div>
      </div>
    </section>

    <hr>

    {% include "media/_toc_bottom.html" %}
  </article>

  {% include "partials/_footer.njk" %}

  <script type="text/javascript">
    window.tweetText = "{{ META.share.twitter.share_tweet }}";
    window.siteTwitter = "{{ META.share.twitter.author | replace('@', '') }}";
    window.siteName = "{{ META.site_name }}";
  </script>
</body>

</html>



{% block js %}
<script src="bundle.{{__webpack__.hash}}.js"></script>
{% endblock %}