$table_border_dark: ivory;

@import '~ohare-investigation/src/scss/main';

.project-heading {
  color: $accent;
}

th {
  text-align: center;
}

.date-heading {
  border-bottom: solid 4px $accent;
  color: $accent;
  padding-bottom: 0.5rem;
  margin-top: 3rem;
  margin-bottom: 1rem;
  font-family: $sans;
  font-size: 1.5rem;
}
