/* ART */
.jumbo.diptych {
  overflow: hidden;
  transition: unset !important;

  * {
    transition: unset !important;
  }

  @include media('>=desktop') {
    margin-left: -1rem;
    margin-right: -1rem;
    width: calc(100% + 2rem);
  }
}

// http://cookbook.latimes.com/art/photo-variants/
@include media('>=phone') {
  .diptych figure {
    float: left;
    width: 49.5%;
    margin: 0px 1% 1rem 0;
  }

  .diptych figure:last-of-type {
    margin-right: 0;
  }
}

.projects-timeline {
  h5 {
    margin-top: 0.5rem;
  }

  .text-container {
    overflow: hidden;
    padding: 1rem;
  }

  .card {
    float: left;
    margin-top: 1rem;
  }
}

.table-of-contents {
  @extend .pullquote;

  hr {
    margin: 1.5rem 0;
  }

  article {
    margin: 2rem 0;
  }
}

.refer--square {
  .headline {
    margin-bottom: 0;
    transition: color 0.25s ease, text-decoration 0.25s ease;
  }

  .story-link {
    background: none;
    display: flex;
  }

  .flag {
    font-family: $sans;
    letter-spacing: 3.5px;
    margin-bottom: 0.5rem;
    text-transform: uppercase;
    transition: color 0.25s ease;
  }

  figure {
    // float: right;
    flex: 0 0 100px;
    height: 100px;
    margin-left: 10px;
  }

  img {
    width: 100px;
    height: 100px;
    transition: opacity 0.25s ease;
    object-fit: cover;
  }

  .story-link:hover {
    .headline {
      color: $accent;
      text-decoration: underline;
    }

    .flag {
      color: $accent;
    }

    img {
      opacity: 0.7;
    }
  }
}
