@import '/Users/pjudge/bettergov/projects/ohare-investigation/src/scss/main';

.tl-event {
  float: unset;
  margin-left: unset;
  max-width: unset;
  @include fit-paragraph;

  margin-bottom: 2rem;

  * {
    font-family: $sans;
  }

  &::before {
    content: '';
    display: block;
    width: 4rem;
    height: 4px;
    background: $accent;
    margin-bottom: 0.5rem;
  }

  .tag {
    background: $dropcap-background;
  }
}

.rail {
  height: 500px;
  background: lightgrey;
  float: right;
  position: sticky;
  top: 1rem;
}

.timeline-heading {
  border-bottom: solid 4px $accent;
  color: $accent;
  padding-bottom: 0.5rem;
  margin-top: 3rem;
  margin-bottom: 1rem;
  font-family: $sans;
  font-size: 2rem;

  .fa-plane {
    margin-right: 0.5rem;
    transform: rotate(-90deg);
  }
}
