@import '~ohare-investigation/src/scss/main';

.image-container-inner {
  @include media('>=desktop') {
    width: calc(#{$desktop-max-content-width} + 10rem) !important;
  }
}

.tl-text {
  @include fit-paragraph;
  z-index: 2;
  background: transparentize($page-background, 0.2);
  padding: 1rem;

  @include media('<phone') {
    width: 100vw;
    position: relative;
    left: -2.5rem;

    .tl-text-contents {
      @include fit-paragraph;
      padding: 1rem 2rem;
    }

    .date-heading::before {
      left: calc(1rem + 1px) !important;
    }
  }

  @media print {
    left: 0;

    .tl-text-contents {
      padding-left: 0;
      padding-right: 0;
    }
  }
}

.controls {
  background: transparentize($page-background, 0.2);
}

section.story {
  position: relative;
  z-index: 2;
}

.tl-event * {
  font-family: $sans;
}

.tl-event::before {
  background: $accent;
}

section.timeline-container {
  margin-top: 0;
}

.intro {
  padding-bottom: 3rem;
  margin-bottom: 0;
}

.intro,
.story {
  background: $page-background;
  position: relative;
  z-index: 2;
  margin-top: 0;
}

.intro::after {
  content: '';
  @include full-width;

  display: block;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  background: $page-background;
  z-index: -1;
}

nav.global .share-menu {
  z-index: 3;
}

button {
  background: $page-background;
}

p:last-of-type {
  margin-bottom: 0;
}

nav.global {
  position: static !important;
}

nav.global .icon--bga-logo,
nav.global .share {
  color: ivory !important;

  &:hover,
  &:focus {
    color: transparentize(ivory, 0.2) !important;
  }
}

@media print {
  html {
    font-size: 12px;
  }

  .lede-copy {
    color: #1a1a1a !important;
  }

  .controls {
    display: none;
  }

  .date-heading::before,
  .timeline-events::before,
  .intro::after,
  .tl-event::before {
    // background-color: #1a1a1a !important;
    display: none !important;
  }

  .intro {
    background: unset !important;
    padding: 0;
  }

  .tl-event-container {
    flex-direction: column-reverse !important;
    // margin-bottom: 3rem;

    &::after {
      content: '';
      display: block;
      width: 3rem;
      height: 0.5rem;
      background: $page-background;
      margin-bottom: 0.5rem;
    }
  }

  .image-container {
    opacity: 1 !important;
    position: static !important;
    break-inside: avoid !important;
    page-break-inside: avoid !important;

    figure {
      background: $page-background;
      float: none !important;
      height: unset !important;
      max-height: unset !important;
      width: 50% !important;
      margin-left: auto !important;
      margin-right: auto !important;
    }
  }

  .tl-event-container {
    min-height: unset !important;
    padding-top: 1rem !important;
    padding-bottom: 0 !important;
  }

  .tl-text {
    color: #1a1a1a !important;
    background: unset !important;
    opacity: 1 !important;
  }

  .tl-event-container {
    position: relative !important;
    // break-inside: avoid;
    // page-break-inside: avoid;
  }

  .tl-cutline {
    // display: none;
  }

  .timeline-events {
    padding: 0 !important;
  }

  .tl-text {
    padding: 0 !important;
    // break-inside: avoid;
  }

  .story-after.story-after,
  .table-of-contents--bottom.table-of-contents--bottom {
    display: none;
  }
}
