<div class="col-right art align-right small">
  <aside class="card refer" style="margin-left: 0; float: none;">
    <h3 class="card__subtitle">Support our newsroom</h3>
    <p class="card__text"> Investigations like this take months to produce and aren’t cheap. Will you help us keep going by making a $25 donation? </p>
    <div class="link link--large">
      <a href="https://bettergov.salsalabs.org/donationform/index.html?amount=25">
        <span class="link__text">Donate to the BGA</span>
      </a>
    </div>
  </aside>

  <aside class="card refer" style="margin-left: 0; float: none;">
    <h3 class="card__subtitle">Follow our work</h3>
    <p class="card__text"> Get BGA news, investigations, analysis and more, straight to your inbox once a week. </p>
    <div class="link link--large">
      <a href="https://www.bettergov.org/sign-up-for-e-alerts">
        <span class="link__text">Sign up for e-alerts</span>
      </a>
    </div>
  </aside>
</div>