<div class="diptych jumbo">
  <figure 
    class="art pym"
    id="responsive-embed-ohare-debt-20190516"
    >
    <div
      data-pym-src="https://graphics.bettergov.org/dailygraphics/ohare-debt-20190516/"
      data-pym-loader     
      >
    {# <div
      data-pym-src="http://localhost:8000/graphic/ohare-debt-20190516/index.html"
      data-pym-loader     
      > #}
    </div>
  </figure>

  <figure
    class="art pym"
    id="responsive-embed-ohare-ranking-20190621"
    >
    <div 
      data-pym-src="https://graphics.bettergov.org/dailygraphics/ohare-ranking-20190621/" 
      data-pym-loader
      >
    {# <div
      data-pym-src="http://localhost:8000/graphic/ohare-bts-delays-20190521/index.html"
      data-pym-loader     
      > #}
      </div>
  </figure>
</div>
