<aside class="table-of-contents--bottom">

  <h3 class="sans">More from this project</h2>

  <article class="refer refer--full">
    <a class="story-link" href="/2019/ohare/timeline/">
      <div class="story-meta">
        <div class="flag">Timeline</div>
        <h3 class="headline">History of connections, corruption at O’Hare</h3>
      </div>
      <figure>
        <img typeof="foaf:Image" src="images/timeline-social-card-400.jpg">
      </figure>
    </a>
  </article>

  <article class="refer refer--full">
    <a class="story-link" href="/2019/ohare/promises-delays/">
      <div class="story-meta">
        <div class="flag">Overview</div>
        <h3 class="headline">What was promised vs. what O’Hare got</h3>
      </div>
      <figure>
        <img typeof="foaf:Image" src="images/O'Hare- Projects-400.jpg" style="background: #121212;">
      </figure>
    </a>
  </article>

  {# <article class="refer refer--full">
    <a class="story-link" href="/2019/ohare-investigation/">
      <div class="story-meta">
        <div class="flag">Investigation</div>
        <h3 class="headline">O'Hare's billions in broken promises</h3>
      </div>
      <figure>
        <img typeof="foaf:Image" src="images/natural_yellow-400.jpg" style="object-position: 50% 50%;">
      </figure>
    </a>
  </article> #}
</aside>